format = """
$os\
$username\
$directory\
$nodejs\
$python\
$ruby\
$terraform\
$git_branch\
$git_status\
$git_commit
% """

[username]
show_always = false
style_user = "fg:#00FFFF"
style_root = "fg:#FF0000"
format = '[$user ]($style)'

[os]
style = "fg:#FF00FF"
disabled = false

[os.symbols]
Macos = " "

[directory]
style = "fg:#39FF14"
format = "[ $path]($style)"
truncate_to_repo = false
truncation_length = 2
truncation_symbol = "…/"

[nodejs]
symbol = "󰎙 "
style = "fg:#00FF00"
format = '[ $symbol($version)]($style)'

[python]
symbol = " "
style = "fg:#FFFF00"
format = '[ $symbol($version)]($style)'

[ruby]
symbol = " "
style = "fg:#FF1493"
format = '[ $symbol($version)]($style)'
detect_folders = ['.rbenv/']

[terraform]
symbol = ""
style = "fg:#BF00FF"
format = '[ $symbol($version)]($style)'
detect_files = ['.tflint.hcl']

[git_branch]
symbol = " "
style = "fg:#00BFFF"
format = '[$symbol\[$branch\] ]($style)'

[git_status]
style = "fg:#FF6600"
format = '([\[$all_status$ahead_behind\]]($style))'

[git_commit]
style = "fg:#FF00FF"
tag_symbol = ' ->  '
format = '[$hash$tag ]($style)'
only_detached = false
tag_disabled = false
